body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
hr{
  width: 5%;
  border: dotted 5px #46A59E;
  border-bottom: none;
  margin: 100px auto;
}
/********HEADER********/
.top-container {
  background-color: #96d1c7;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  width: 200px;
  position: absolute;
  right: 420px;
  top: 5px;
}
.bottom-cloud {
  width: 150px;
  position: absolute;
  top: 130px;
  left: 410px;
}
.mountain {
  position: relative;
  right: 30px;
  width: 800px;
}
h1 {
  color: #c9485b;
  margin: 40px auto 0 auto;
  font-family: "Satisfy", cursive;
  font-size: 4rem;
}
.sub-header{
  font-size: 1.3rem;
  font-weight: normal;
}
/********MAIN********/
.middle-container{
  margin: 100px 0;
}
p{
  color: #40514E;
  line-height: 2;
}
h2 {
  color: #c9485b;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
}
h3 {
  color: #e0505a;
  font-family: "Montserrat", sans-serif;
}
.profile{
  width: 50%;
  margin: 0 auto;
}
.profile-pic{
    width: 200px;
    border: solid 5px #96d1c7;
}
.skill-row{
  margin: 100px auto;
  text-align: left;
  width: 50%;
}
.web-dev{
  float: left;
  margin-right: 30px;
  width: 25%;
}
.knitting{
  float: right;
  margin-left: 30px;
  width: 25%;
}
/********FOOTER********/
.contact-me{
  width: 50%;
  margin: 0 auto;
  line-height: 2;
}
.contact-me h2{
  font-size: 2rem;
}
.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 3px 20px;
  background-color: #C9485B;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 70px 0;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #ef737b, #bc4951);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.bottom-container{
  background-color: #96d1c7;
  padding-top: 40px;
}
.bottom-container p{
  color: white;
  font-family: "Merriweather", serif;
  font-size: 0.75rem;
  margin-bottom: 0;
  padding: 50px 0;
}
a{
  color: #e0505a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0 30px;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}